.Rproj.user
.Rhistory
.RData
.Ruserdata
2010_dpriceav.csv
2011_dpriceav.csv
2012_dpriceav.csv
2013_dpriceav.csv
2019_dpriceav.csv
2020_dpriceav.csv
2021_dpriceav.csv
20years_big_average.csv
30years_small.csv
30years_small.xlsx
cpi.csv
groups.csv
